body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #000;
    position: relative;
    img{
        top: 50%;
        left: 50%;
        opacity: 0;
        width: 100%;
        max-width: 1600px;
        position: absolute;
        transition: opacity 1.5s ease-out;
        transform: translateX(-50%) translateY(-50%);
        &.ready{
            opacity: 1;
        }
    }
}